[Desktop Entry]
Name=Space Telescope
Comment=Explore the cosmos
Exec=spacetelescope
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Science; # Adjust accordingly your snap category.
